    /* Style for success alert */
    .alert.alert-success {
        /* background-color: yellowgreen ; */
        /* color: yellowgreen; */
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
        width: fit-content;
        border-radius: 25px;
        padding: 7px 9px;
        margin-top: 90px ;
        margin-right: auto;
        margin-left: auto;
    }

    /* Style for error alert */
    .alert.alert-danger {
        background-color: #f5dadc;
        border-color: #f5c6cb;
        color: red;
        width: fit-content;
        border-radius: 25px;
        padding: 7px 9px;
        margin-top: 90px ;
        margin-right: auto;
        margin-left: auto;
    }

    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
            transform: translateX(5px);
        }
    }

    /* Apply the shake animation to the alert */
    .alert.shake {
        animation: shake 0.3s ease-in-out;
    }

